[submodule "playbooks"]
	path = playbooks
	url = git@github.com:varilink/libraries_ansible-playbooks.git

[submodule "roles"]
	path = roles
	url = git@github.com:varilink/libraries_ansible-roles.git

[submodule "tools/gimp"]
	path = tools/gimp
	url = git@github.com:varilink/tools_gimp.git

[submodule "tools/npm"]
	path = tools/npm
	url = git@github.com:varilink/tools_npm.git

[submodule "tools/wordpress-restore"]
	path = tools/wordpress-restore
	url = git@github.com:varilink/tools_wordpress-restore.git

[submodule "wordpress"]
	path = wordpress
	url = git@github.com:varilink/website_wordpress.git
