# ------------------------------------------------------------------------------
# ansible.cfg
# ------------------------------------------------------------------------------

# Cater for playbooks being run from a subdirectory.

[defaults]
inventory = /etc/ansible,./inventory
roles_path=./roles
